<script type="ssg-control">
  template('template.html');
  provide({ myValue: 5 });
</script>
<!-- Load up Vue for clientside hydration -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- Shared script providing custom Vue instance -->
<script type="ssg-shared">
  import Component from './js/component.js';
  export function createApp(html, data) { // data is the sum of all provided data
    // This Vue instance will always be mounted on #app...
    return new Vue({
      template: html,
      data: { myValue: data.myValue },
      components: { Component }
    });
  }
</script>
<script>
  // Client-side only script
  setInterval(() => app.myValue += 1, 100);
</script>
<!-- Multiple insert points -->
<div ssg-id="head">
  <title>Title from subdocument</title>
</div>
<!-- ...so make sure you have something called #app -->
<div id="app" ssg-id="body">
  Hello, world! My value: <code>{{ myValue }}</code>.
  Component: <component/>
</div>
