<!-- ssg-control scripts are executed during the build step -->
<!-- (They're stripped from the final output) -->
<script type="ssg-control">
  // 'template' inserts nodes with an "ssg-id" into nodes in the template
  // with an accompanying "ssg-insert". Other content in the current file
  // is discarded.
  template('template.html');
  // 'provide' provides data from ssg-control to Vue
  provide({ files: await files('posts/hello-world.md') });
  // This file doesn't use output() (post.html) or silent() (template.html)
  // so by default it's written to 'out' with its current path
</script>
<div ssg-id="body">
  Hello world!
  <!-- Content outside ssg-control scripts is controlled via Vue -->
  <div v-for="file of files">
    <a :href="`posts/${file.name}.html`">{{ file.name }}</a>
  </div>
  <a href="advanced.html">Advanced features</a>
</div>
