<script type="ssg-control">
  // (See index.html)
  template('template.html');
  for (let file of await files('posts/*')) {
    // 'output' creates an instance of this template file
    // at the given location in the 'out' folder and with
    // the second object passed as data to Vue
    output(`posts/${file.name}.html`, { content: file.content });
  }
  // the 'vue' function is similar to 'provide', but is injected wholesale
  // into `new Vue({...})` rather than just into the data.
  // Be careful about overriding 'template' or 'data': You'll wipe out anything
  // provided by the ssg framework.
  // Uses https://www.npmjs.com/package/deepmerge to merge multiple calls.
  vue({
    components: {
      // Require is available
      // (for the example project, vue-markdown is a devdependency)
      VueMarkdown: (await require('vue-markdown')).default.default
    }
  })
</script>
<div ssg-id="body">
  I'm a post!
  <!-- One instance of this file will be provided for each post -->
  <!-- in the 'posts' folder. The file content is exposed above -->
  <!-- and available to insert via Vue in here. -->
  <vue-markdown :source="content"/>
</div>
